:root {
	--lightest-color: #D9E6F7;
	--highlight-color: #ffffff;
	--maroon-color: #83323E;
    --background-color: #AC7C83;
    --black-color: black;
	--white-color: white;
	--hover-color: #3a3b3c;
}

body {
	background: var(--maroon-color);
	color: var(--black-color);
	font-family: 'Open Sans', sans-serif;
}

.site-title-container {
	display: flex;
	flex-direction: column;
    color: var(--white-color);
    background: var(--maroon-color);
    margin: -1% -1%;
    font-family: 'Merienda', cursive;
}

.top-container {
	width: 100% auto;
	margin: -1% -1%;
	display: flex;
	flex-direction: column;
    text-align: left;
    background: var(--background-color);
}

.container {
	width: 100% auto;
	margin: -1% -1%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--background-color);
}

.footer {
	margin: 1.5% -1%;
	color: var(--black-color);
	text-align: center;
    font-size: 10px;
    background: var(--maroon-color);
}

.site-title {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin: 2% 2%;
}

.title-text {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
    margin: 1%;
    font-family: 'Merienda', cursive;
}

.about-section {
	text-align: center;
	font-size: 16px;
	display: inline-block;
	margin: 1% 8%;
}

.circle {
	width: 200px;
	height: 200px;
	overflow: hidden;
	float: left;
	display: inline;
	border-radius: 50%;
	border: 3px solid var(--black-color);
	margin: 5% 5% 2% 0%;
}

.profile-pic {
	display: inline;
	height: 265px;
    width: auto;
    margin-left: 0.5%;
}

.text {
	text-align: left;
	margin: 0% 8% 1% 8%;
}

a {
	color: var(--black-color);
	text-decoration: none;
}

.link-item {
	display: inline-block;
    width: 300px;
	height: auto;
	vertical-align: top;
	margin: 2% 2%;
}

.name {
	text-align: center;
	font-weight: bold;
	margin-bottom: 2%;
	font-family: 'Merienda', cursive;
	font-size: 18px;
}

.description {
	margin-top: 2%;
	text-align: left;
}

.circle-image {
	height: 225px;
	width: 225px;
	display: inline-block;
	border-radius: 5%;
	overflow: hidden;
	border: 3px solid var(--black-color);
}

.circle-image img {
	height: 250px;
	width: auto;
}

.icon-list-img {
	height: 50px;
	width: 50px;
	margin: 3px;
	background-color: var(--maroon-color);
}

.text-link {
	text-decoration: underline;
	display: inline;
}

.text-link:hover {
	color: var(--hover-color);
}
.contact-form {
	text-align: center;
	width: 100%;
	height: 500px;
}
