:root {
	--lightest-color: #D9E6F7;
	--highlight-color: #ffffff;
	--maroon-color: #83323E;
    --background-color: #AC7C83;
    --black-color: black;
	--white-color: white;
	--hover-color: #3a3b3c;
}

body {
	background: var(--maroon-color);
	color: var(--black-color);
	font-family: 'Open Sans', sans-serif;
}

.site-title-container {
	display: flex;
	flex-direction: column;
    color: var(--white-color);
    background: var(--maroon-color);
    margin: -1% -1%;
    font-family: 'Merienda', cursive;
}

.top-container {
	width: 100% auto;
	margin: -1% -1%;
	display: flex;
	flex-direction: column;
    text-align: left;
    background: var(--background-color);
}

.container {
	width: 100% auto;
	margin: -1% -1%;
	display: flex;
	flex-direction: column;
	background: var(--background-color);
}

.footer {
	margin: 1.5% -1%;
	color: var(--black-color);
	text-align: center;
    font-size: 10px;
    background: var(--maroon-color);
}

.site-title {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin: 2% 2%;
}

.title-text {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
    margin: 1%;
    font-family: 'Merienda', cursive;
}

.about-section {
	text-align: left;
	font-size: 16px;
	display: inline-block;
	margin: 1% 8%;
}

.circle {
	width: 200px;
	height: 200px;
	overflow: hidden;
	float: left;
	display: inline;
	border-radius: 50%;
	border: 3px solid var(--black-color);
	margin: 5% 5% 2% 0%;
}

.profile-pic {
	display: inline;
	height: 265px;
    width: auto;
    margin-left: 0.5%;
}

.text {
	text-align: left;
	margin: 0% 8% 1% 8%;
}

.center {
	text-align: center;
}

a {
	color: var(--black-color);
	text-decoration: none;
}

.link-item {
	display: inline-block;
    width: 300px;
	height: auto;
	vertical-align: top;
	margin: 2% 2%;
}

.name {
	text-align: center;
	font-weight: bold;
	margin-bottom: 2%;
	font-family: 'Merienda', cursive;
	font-size: 18px;
}

.description {
	margin-top: 2%;
	text-align: left;
}

.circle-image {
	height: 225px;
	width: 225px;
	display: inline-block;
	border-radius: 5%;
	overflow: hidden;
	border: 3px solid var(--black-color);
}

.circle-image img {
	height: 250px;
	width: auto;
}

.icon-list-img {
	height: 50px;
	width: 50px;
	margin: 3px;
	background-color: var(--maroon-color);
}

.text-link {
	text-decoration: underline;
	display: inline;
}

.text-link:hover {
	color: var(--hover-color);
}
.contact-form {
	text-align: center;
	width: 100%;
	height: 500px;
}

/* Slideshow container */
.slideshow-container {
	position: relative;
	background: var(--maroon-color);
	margin: 0% 10%;
  }
  
  /* Slides */
  .mySlides {
	display: none;
	padding: 2% 5% 0% 5%;
	text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: #888;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
	text-align: center;
	padding: 1%;
	background: var(--maroon-color);
	margin: 0% 10% 1% 10%;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a white color to the author */
  .author {color: var(--white-color);}
